- @comments.each do |comment|
  %li.CommunicationItem
    %article
      = link_to project_path(comment.project_id), alt:"#{comment.project}" ,class:"project-link" do
        = image_tag(comment.project.thumbnail, class:"image-thumbnail-s")
        %h4.posted #{comment.content.truncate(50)}
      .user
        %img.user-image{:alt => "#{comment.user.name}", :src => "#{comment.user.image}"}/
        %p.user-name #{comment.user.name}
