- @project.courses.each do |course|
  %section#return41094.kakusectionRight
    .lefth4RightBase
      %h4.lefth4Right
        = number_with_delimiter("#{course.price}")
        円コース
        %span.abstractSpan (税込)
      .lefth4RightNum{:style => "color: #fb2a79; font-size: 18px; text-indent: 2px;"}
        %p
        残り#{course.stock}個
    %a.ProjectDetailInRight{"data-investment-info-return-link-to-select-main" => "", :href => "/projects/#{@project.id}/courses/#{course.id}"}
      %h5.lefth5Right #{course.name}
      .photoSectionUp
        - course.course_images.each do |image|
          %img.lazy{:alt => "ここに画像", "data-original" => "/", :height => "165px", :src => "#{image.image}", :style => "display: inline;", :width => "280px"}/
      %p.detailTextRight
        #{course.content}

      %p.detailAside02Uptext
        %svg.icon_shien
          %use{"xlink:href" => "#icon-user-03", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %span{"data-investment-info-return-supported-amount" => ""}
          = OrderDetail.where(course_id: course.id).length
          人が支援しています。
      %p.detailAside03Uptext
        %svg.icon_delivery
          %use{"xlink:href" => "#icon-case", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        #{course.due_date}までにお届け予定です。
    %aside.detailAside02
      - if course.stock <= 0
        %a.shienBtn02{"data-investment-info-return-link-to-select-btn" => "sold-out", :href => "#"}
          在庫切れ
      - else
        %a.shienBtn{"data-investment-info-return-link-to-select-btn" => "not-sold-out", :href => "/projects/#{@project.id}/courses/#{course.id}", :style => ""}
          このコースに申込む

