- @pickups.each do |project|
  %li.ProjectItem.ProjectItem--4column
    = link_to project_path(project.id), class:"link pickup" do
      %article.pickup
        .image
          .image-overlay
            %img.image-thumbnail-m{:alt => "#{project.name}", :src => "#{project.thumbnail}"}/
        / text
        %h4.title #{project.name}
        .attribute
          .time
            %svg.icon
              %use{"xlink:href" => "#icon-time", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            / time
            %p
            #{project.time_limit}
          .money
            / money
            %p
              = number_with_delimiter("#{project.total_sales}")
              円
        .bar
          .bar-background
            / bar
            .bar-foreground{:style => "width: #{project.bar}%;"}
          / bar
          .bar-percent #{project.bar}%
