- @reports.first(5).each do |report|
  %li.CommunicationItem
    %article
      %a.project-link{:href => "https://www.makuake.com/project/nobelt/communication/detail/#{report.id}/"}
        - report.project.project_images.each do |image|
          %img.image-thumbnail-s{:alt => "#{report.title}", :src => "#{image.image}"}/
          %h4.posted #{report.title}
      .user
        %img.user-image{:alt => "#{report.project.user.name}", :src => "#{report.project.user.image}"}/
        %p.user-name #{report.project.project_images}
