- @reports.each do |report|
  %li.CommunicationItem
    %article
      = link_to project_path(report.project_id), alt:"#{report.project}" ,class:"project-link" do
        = image_tag(report.project.thumbnail, class:"image-thumbnail-s")
        %h4.posted #{report.title}
      .user
        %img.user-image{:alt => "#{report.project.user.name}", :src => "#{report.project.user.image}"}/
        %p.user-name #{report.project.user.name}
