/ sideNavi
#sideNavi
  #profile
    %img{:alt => "", :height => "175", :src => "//hayabusa.io/makuake/upload/user/100500/main_100500.fit-scale.jpeg?width=175&height=175&quality=95&version=1539290507&format=jpeg&ttl=31536000&force", :width => "175"}/
    = link_to "おとなのビスコ", user_path, class: "btn"
  %dl.sideNaviOne
    %dt.sideNaviTitle.sideIconSupt 支援・寄附・購入
    %dd
      %a{:href => "/users/#{current_user.id}/invest"} 支援・寄附・購入
    -# %dd
      -# = link_to "購入履歴(ストア)", store_user_path(current_user), class: "btn"
    %dd
      %a{:href => "/users/#{current_user.id}/message"} メッセージ
      %span#side_navi_new_message.newMessage{:style => "display: none;"} 未読あり
  %dl.sideNaviOne
    %dt.sideNaviTitle.sideIconAcnt アカウント情報
    %dd
      %a{:href => "/users/#{current_user.id}/edit"} プロフィール編集
    %dd
      %a{:href => "/users/#{current_user.id}/popup"} メール通知設定
  / ./sideNavi
