/ sideNavi
#sideNavi
  #profile
    - if current_user.persisted? && current_user.image?
      = image_tag current_user.image.url, height: '175', width: '175'
    - else
      = image_tag 'noimage.png'
    = link_to "#{current_user.name}", user_path, class: "btn"
  %dl.sideNaviOne
    %dt.sideNaviTitle.sideIconSupt 支援・寄附・購入
    %dd
      %a{:href => "/users/#{current_user.id}/invest"} 支援・寄附・購入
    %dd
      %a{:href => "/users/#{current_user.id}/consumed"} 購入履歴(ストア)
    %dd
      %a{:href => "/users/#{current_user.id}/message"} メッセージ
      %span#side_navi_new_message.newMessage{:style => "display: none;"} 未読あり
  %dl.sideNaviOne
    %dt.sideNaviTitle.sideIconAcnt アカウント情報
    %dd
      %a{:href => "/users/#{current_user.id}/edit"} プロフィール編集
    %dd
      %a{:href => "/users/#{current_user.id}/edit_password"} パスワード変更
    %dd
      %a{:href => "/users/#{current_user.id}/popup"} メール通知設定
  / ./sideNavi
