%head
  %link{href: "//css.36project.com/stylesheets/users/edit_profile.css", rel: "stylesheet"}/
  %link{href: "//css.36project.com/stylesheets/users/sidenavi.css", rel: "stylesheet"}/
  %link{href: "//css.36project.com/stylesheets/users/popup.css", rel: "stylesheet"}/
#wrapperMypage
  / contentWrapper
  #contentWrapper.clearfix
    = render 'sidenavi'
    / rightContentMain
    #rightContentMain
      / section01
      %section#profileDetails
        %h2.ttlProfile パスワード変更
        = form_for(@user) do |f|
          .profileIn
          %span.new 新しいパスワード
          %br/
          = f.password_field :password, placeholder: 'Password', minlength: 6, class: 'infoInput01'
          %span.editAlert 6文字以上の半角英数字記号
          %br/
          %span.new 新しいパスワード(確認用)
          %br/
          = f.password_field :password_confirm, placeholder: 'Password', class: 'infoInput01', onInput: "passValidates(this, 'password')"
          = f.submit '更新', class: 'updateBtn02'
/ ./contentWrapper
/ Pagetopボタン
#page-top_jq{style: "display:black"}
  = link_to 'page top', id: 'wrap'
