.lean_overlay
%section.login__outer.omniauth-modal
  .modal04
    %p.modal04__title ユーザー名・メールアドレス登録
    .modal04__block
      = form_for (current_user), url: {controler: "users", action: "update_omniauth" }, html: {id: 'omniauth_edit', class: 'omniauth_edit'} do |f|
        .kurumi
          = f.label :name, class: 'note' do
            ユーザー名
            %p.notes ※3文字以上20文字以内
          = f.text_field :name, autofocus: true, required: 'required', class: 'loginForm', minlength: 3, maxlength: 20
        %p.modal04__from-text Makuake内で公開されます
        .kurumi
          = f.label :email, class: 'note' do
            メールアドレス
          = f.email_field :email, autofocus: true, required: 'required', id: 'omniauth_edit_email', class: 'omniauth_edit_email loginForm', onInput: "mailFormatValidates('omniauth_edit_email')"
        .kurumi
          = f.label :email, class: 'note note--textright' do
            確認
          = f.email_field :email, autofocus: true, required: 'required', id: 'omniauth_edit_email_confirm', class: 'loginForm', onInput: "mailValidates(this, 'omniauth_edit_email')"
        .modal03__agreeBase
          %label{for: 'agree', class: 'modal03__agreeBase-label' }
            %input#agree.modal03__checkbox{ autocomplete: 'off', name: 'agreement', required: 'required', type: 'checkbox', value: '' }
            .agree-check
              .agree-check__link
                = link_to '利用規約', 'javascript:agreementWindow();'
                %span に同意する
        .modal03__btn__block
          = f.submit "OK", class: 'btnRegit04 btncol_03'
