#wrapperMypage
  / profileArea
  #profileArea
    #profileInArea.clearfix
      #profileLeft
        .file_area
          %form#upload_image{:action => "update", :enctype => "multipart/form-data", :method => "post"}
            %input#upload_1{:enctype => "multipart/form-data", :name => "file_data1", :type => "file"}/
            %input.updateBtn{:style => "display:none", :type => "submit", :value => "更新"}/
      #profileRight
        #profileNameArea
          .nameAndSns.clearfix
            .nameAndSnsLeft
              %span#yourName
                = current_user.name
            .nameAndSnsRight
              %ul.alertIconsSns
                %li
                  = link_to message_user_path(current_user), class: 'mailAlert' do
                    %img{:alt => "", :src => "//cdn-m.makuake.com/rev_2018/10/10/132936/img/icon_mail_48.gif"}/
        .newsListArea
          .oneSection
            .oneSection01
              2018/05/28
            .oneSection02
              -# %a{:href => "/information/detail/92/"}
              【重要】Makuakeガバメント開始に伴う利用規約変更のお知らせ
          .oneSection
            .oneSection01
              2018/05/25
            .oneSection02
              -# %a{:href => "/information/detail/91/"}
              【重要】6/2(土) 深夜システムメンテナンスのお知らせ
          .oneSection
            .oneSection01
              2018/03/09
            .oneSection02
              -# %a{:href => "/information/detail/90/"}
              【重要】3/17(土) 深夜システムメンテナンスのお知らせ
        .archiveMoreLink
          -# %a.iconArrow24{:href => "/information/"}
            お知らせ一覧を見る
  / ./profileArea
  / contentWrapper
  #contentWrapperMypage.clearfix
    / sideNavi
    #sideNavi
      %dl.sideNaviOne
        %dt.sideNaviTitle.sideIconSupt
          支援・寄附・購入
        %dd
          = link_to '支援・寄附したプロジェクト', invest_user_path(current_user)
        %dd
          = link_to '購入履歴(ストア)', consumed_user_path(current_user)
        %dd
          = link_to 'メッセージ', message_user_path(current_user)
          %span#side_navi_new_message.newMessage{:style => "display: none;"} 未読あり
      %dl.sideNaviOne
        %dt.sideNaviTitle.sideIconAcnt
          アカウント情報
        %dd
          = link_to 'プロフィール編集', edit_user_path(current_user)
        %dd
          = link_to 'パスワード変更', edit_password_user_path(current_user)
        %dd
          = link_to 'メール通知設定', popup_user_path(current_user)
    / ./sideNavi
    / rightContentMain
    #rightContentMain
      / section01l
      %section#projectDetails
        %h2.ttlDetails
          支援・寄附したプロジェクト
          = link_to '支援・寄附したプロジェクト一覧へ', invest_user_path(current_user), class: 'iconArrow24_02'
        / DeteilIn
        .DeteilIn{"data-gtm-vis-first-on-screen-657891_277" => "251", "data-gtm-vis-first-on-screen-657891_294" => "243", "data-gtm-vis-has-fired-657891_277" => "1", "data-gtm-vis-has-fired-657891_294" => "1", "data-gtm-vis-recent-on-screen-657891_277" => "251", "data-gtm-vis-recent-on-screen-657891_294" => "243", "data-gtm-vis-total-visible-time-657891_277" => "100", "data-gtm-vis-total-visible-time-657891_294" => "100"}
          / 01 in
          %section.projectBox.ttlSuccess
            %a.projectLinkMypage{:href => "/project/kravas360/"}
              %img{:alt => "", :height => "198", :src => "//hayabusa.io/makuake/upload/project/4997/main_4997.fit-scale.png?width=308&height=198&quality=95&version=1537322473&format=png&ttl=31536000&force", :width => "308"}/
              %h2
                スマホに簡単装着！1ショットだけでぐるっと全方位３６０度カメラ！KRAVAS
            %aside.projectAside
              %a.projectThumb{:href => "/member/index/438874/"}
                %img{:alt => "", :height => "36", :src => "//hayabusa.io/makuake/upload/user/regist2018/09/04/438874/main_438874.fit-scale.jpg?width=36&height=36&quality=95&version=1536972481&format=jpg&ttl=31536000&force", :width => "36"}/
                %span KRAVAS
              %a.projectTag{:href => "/discover/categories/product/"}
                プロダクト
            .projectFooter
              .projectMoney
                %dl
                  %dt 集まっている金額
                  %dd 3,047,220円
              .projectGage
                .projectGageIn{:style => "width: 100%;"}
                  %p 1015%
              .projectBottom
                .projectSupporter
                  %dl
                    %dt 支援者
                    %dd 611人
                .projectTime
                  %dl
                    %dt.iconTime 残り
                    %dd 終了
          / /01 in
          / 03 in
          .moneyArea
            / 03-01
            %section.moneyAreaIn
              .moneyAreaInTitle
                %p.money-title--ttl コース名
                %p.money-title--name MAKUAKE限定10％OFF KRAVAS360°VIEW
                .moneyArea--flex
                  .moneyArea--flex--r
                    %p.money-title--ttl 支払総額
                    %p.money-title--num 4,374円
                  .moneyArea--flex--r
                    %p.money-title--ttl 商品単価
                    %p.money-title--num
                      4,374円
                      %span.money__statement
                        (税込)
                  %div
                    %p.money-title--ttl 数量
                    %p.money-title--num.money-title--num-mg 1個
              .order-info
                %span 注文ID : 798564
                %span.buyTime 支援日 : 2018/10/08
                %span.buyTime
                  お届け予定 :
                   2018/11
              %p.js-return-desc.return-desc
                %span.hide{:style => "display: none;"}
                  ・MAKUAKE限定10%OFF（標準価格：4860円）
                  %br/
                  ・KRAVAS 360&amp;deg;VIEW レンズ iPhoneX用 もしくは iPhone7.8用、iPhone 7/8 plus 用１個
                  %br/
                  ・送料無料
                %span.omit
                  ・MAKUAKE限定10%
                  %br/
                  ・KRAVAS 360&amp;deg;VIEW レンズ iPhoneX用 もしくは iPhone7.8用、iPhone 7/8 plus 用１個
                  %br/
                  ・送料無料
              .question
                %p.question-title リターンの質問と回答
                %span
                  質問1&amp;nbsp
                  iPhoneの種類をお選びください
                %span
                  回答1 iPhone 7/8 plus 用
              .receipt{"data-investment_id" => "798564", "data-payment_type" => "1", "data-project_id" => "4997", "data-return_id" => "40186"}
                領収書を発行
              %a.chageAd{:href => "/my/address/40186/798564/"}
                お届け先を変更
            / 03-01
          .moneyArea
            / 03-01
            %section.moneyAreaIn
              .moneyAreaInTitle
                %p.money-title--ttl コース名
                %p.money-title--name MAKUAKE限定10％OFF KRAVAS360°VIEW
                .moneyArea--flex
                  .moneyArea--flex--r
                    %p.money-title--ttl 支払総額
                    %p.money-title--num 4,374円
                  .moneyArea--flex--r
                    %p.money-title--ttl 商品単価
                    %p.money-title--num
                      4,374円
                      %span.money__statement (税込)
                  %div
                    %p.money-title--ttl 数量
                    %p.money-title--num.money-title--num-mg 1個
              .order-info
                %span 注文ID : 798614
                %span.buyTime 支援日 : 2018/10/08
                %span.buyTime
                  お届け予定 :
                   2018/11
              %p.js-return-desc.return-desc
                %span.hide{:style => "display: none;"}
                  ・MAKUAKE限定10%OFF（標準価格：4860円）
                  %br/
                  ・KRAVAS 360&amp;deg;VIEW レンズ iPhoneX用 もしくは iPhone7.8用、iPhone 7/8 plus 用１個
                  %br/
                  ・送料無料
                %span.omit
                  ・MAKUAKE限定10%OFF（標準価格：4860円）
                  %br/
                  ・KRAVAS 360&amp;deg;VIEW レンズ iPhoneX用 もしくは iPhone7.8用、iPhone 7/8 plus 用１個
                  %br/
                  ・送料無料
              .question
                %p.question-title リターンの質問と回答
                %span
                  質問1 iPhoneの種類をお選びください
                %span
                  回答1 iPhone 7/8 plus 用
              .receipt{"data-investment_id" => "798614", "data-payment_type" => "1", "data-project_id" => "4997", "data-return_id" => "40186"}
                領収書を発行
              %a.chageAd{:href => "/my/address/40186/798614/"} お届け先を変更
            / 03-01
          / ./03 in
        / ./DeteilIn
        / DeteilIn
        .DeteilIn{"data-gtm-vis-has-fired-657891_277" => "1", "data-gtm-vis-has-fired-657891_294" => "1"}
          / 01 in
          %section.projectBox.ttlSuccess
            %a.projectLinkMypage{:href => "/project/nastent/"}
              %img{:alt => "", :height => "198", :src => "//hayabusa.io/makuake/upload/project/2020/main_2020.fit-scale.jpg?width=308&height=198&quality=95&version=1474349940&format=jpg&ttl=31536000&force", :width => "308"}/
              %h2 いびきのない快眠で明日のハイパフォーマンスを。鼻腔挿入デバイス【ナステント】
            %aside.projectAside
              %a.projectThumb{:href => "/member/index/138080/"}
                %img{:alt => "", :height => "36", :src => "//hayabusa.io/makuake/upload/user/regist2016/07/19/138080/main_138080.fit-scale.jpg?width=36&height=36&quality=95&version=1477876369&format=jpg&ttl=31536000&force", :width => "36"}/
                %span セブン・ドリーマーズ・ラボラトリーズ株式
              %a.projectTag{:href => "/discover/categories/product/"} プロダクト
            .projectFooter
              .projectMoney
                %dl
                  %dt 集まっている金額
                  %dd 12,479,000円
              .projectGage
                .projectGageIn{:style => "width: 100%;"}
                  %p 124%
              .projectBottom
                .projectSupporter
                  %dl
                    %dt 支援者
                    %dd 688人
                .projectTime
                  %dl
                    %dt.iconTime 残り
                    %dd 終了
          / /01 in
          / 03 in
          .moneyArea
            / 03-01
            %section.moneyAreaIn
              .moneyAreaInTitle
                %p.money-title--ttl コース名
                %p.money-title--name ナステント 1week（仮）4週間分＋2回目以降セット＋お試し4本セット（左右）
                .moneyArea--flex
                  .moneyArea--flex--r
                    %p.money-title--ttl 支払総額
                    %p.money-title--num 20,000円
                  .moneyArea--flex--r
                    %p.money-title--ttl 商品単価
                    %p.money-title--num
                      20,000円
                      %span.money__statement (税込)
                  %div
                    %p.money-title--ttl 数量
                    %p.money-title--num.money-title--num-mg 1個
              .order-info
                %span 注文ID : 170468
                %span.buyTime 支援日 : 2016/08/30
                %span.buyTime
                  お届け予定 :
                   2017/03
              %p.js-return-desc.return-desc
                %span.hide{:style => "display: none;"}
                  【定価より7%OFF】
                  %br/
                  ▼ナステント 1week（仮）スターターキット  10,000円相当
                  %br/
                  ・ナステント 1week（仮）&amp;times;4本（1ヶ月分）
                  %br/
                  ・滅菌ケース
                  %br/
                  ・ルブリカント（潤滑剤）
                  %br/
                  ・洗浄液
                  %br/
                  ▼ナステント 1week（仮）2回目以降セット  9,000円相当
                  %br/
                  ・ナステント 1week（仮）&amp;times;4本（1ヶ月分）
                  %br/
                  ・ルブリカント（潤滑剤）
                  %br/
                  ・洗浄液
                  %br/
                  ▼ナステント クラシック左右130mm/140mm  計4本  2,400円相当
                  %br/
                  %br/
                  ※「ナステント お試し4本セット」をご使用の上、ご自身にあったサイズをご連絡ください。後日「ナステント  1week（仮）」を発送いたします。
                  %br/
                  \-------------------------
                  %br/
                  サイズがお決まりの方は、こちらへご連絡ください。
                  %br/
                  %br/
                  コールセンター：0120-480-740
                  %br/
                  （受付時間9時〜21時）
                  %br/
                  \-------------------------
                %span.omit
                  【定価より7%OFF】
                  %br/
                  ▼ナステント 1week（仮）スターターキット  10,000円相当
                  %br/
                  ・ナステント 1week（仮）&amp;times;4本（1ヶ月分）
                  %br/
                  ・滅菌ケース
                  %br/
                  ・ルブリカント（潤滑剤）
                  %br/
                  ・洗浄液
                  %br/
                  ▼ナステント 1week（仮）2回目以降セット
                  %a.more{:href => ""} ...もっとみる
              .receiptGray 領収書を発行
              .chageAd-gray お届け先を変更
              .information-aboutbtn-box
                %dl.information-aboutbtn
                  %dt.information-aboutbtn-ttl 領収書発行ができない
                  %dd.information-aboutbtn-txt
                    入金完了後に、領収書の発行が可能となります。
                %dl.information-aboutbtn
                  %dt.information-aboutbtn-ttl お届け先を変更できない
                  %dd.information-aboutbtn-txt
                    実行者がリターン配送準備を進めている為、住所変更ができません。
                    %br/
                    実行者へ直接メッセージにてお問い合わせください。
            / 03-01
          / ./03 in
        / ./DeteilIn
        / DeteilIn
        .DeteilIn{"data-gtm-vis-has-fired-657891_277" => "1", "data-gtm-vis-has-fired-657891_294" => "1"}
          / 01 in
          %section.projectBox.ttlSuccess
            %a.projectLinkMypage{:href => "/project/cbyfavy/"}
              %img{:alt => "", :height => "198", :src => "//hayabusa.io/makuake/upload/project/1483/main_1483.fit-scale.jpg?width=308&height=198&quality=95&version=1493631167&format=jpg&ttl=31536000&force", :width => "308"}/
              %h2 C by favyがヨーロッパに負けない国産ムール貝の食べ放題会員を募集します！
            %aside.projectAside
              %a.projectThumb{:href => "/member/index/90089/"}
                %img{:alt => "", :height => "36", :src => "//hayabusa.io/makuake/upload/user/90089/main_90089.fit-scale.png?width=36&height=36&quality=95&version=1505097903&format=png&ttl=31536000&force", :width => "36"}/
                %span C by favy(シーバイファビー)
              %a.projectTag{:href => "/discover/categories/restaurant/"} レストラン・バー
            .projectFooter
              .projectMoney
                %dl
                  %dt 集まっている金額
                  %dd 3,573,000円
              .projectGage
                .projectGageIn{:style => "width: 100%;"}
                  %p 446%
              .projectBottom
                .projectSupporter
                  %dl
                    %dt 支援者
                    %dd 320人
                .projectTime
                  %dl
                    %dt.iconTime 残り
                    %dd 終了
          / /01 in
          / 03 in
          .moneyArea
            / 03-01
            %section.moneyAreaIn
              .moneyAreaInTitle
                %p.money-title--ttl コース名
                %p.money-title--name 【先着300名様】ムール貝食べ放題の会員権
                .moneyArea--flex
                  .moneyArea--flex--r
                    %p.money-title--ttl 支払総額
                    %p.money-title--num 8,000円
                  .moneyArea--flex--r
                    %p.money-title--ttl 商品単価
                    %p.money-title--num
                      8,000円
                      %span.money__statement (税込)
                  %div
                    %p.money-title--ttl 数量
                    %p.money-title--num.money-title--num-mg 1個
              .order-info
                %span 注文ID : 107071
                %span.buyTime 支援日 : 2016/01/30
                %span.buyTime
                  お届け予定 :
                   2016/02
              %p.js-return-desc.return-desc
                %span.hide{:style => "display: none;"}
                  【先着300名様】
                  %br/
                  ■日本唯一となる「蒸しムール貝」の食べ放題会員権
                  %br/
                  ・会員証をお送り致します。
                  %br/
                  ・会員証を提示した方は一人980円で90分間「蒸しムール貝」の食べ放題を利用可能となります。
                  %br/
                  ※別料金となりますが、もちろん「蒸しムール貝」食べ放題以外のアラカルトメニューもご注文可能です。
                  %br/
                  ・会員の同伴者も利用頂けます。（人数制限はありません。）
                  %br/
                  ・会員権の有効期限：1年間（2017年2月末まで）
                  %br/
                  %br/
                  ※ムール貝1人前は通常価格1,280円（税別）です。
                  %br/
                  ※予約制のサービスとなりますので、ご利用前にお店にご予約のご連絡をお願いします。
                  %br/
                  ※ご予約につきまして、無断キャンセルされた場合は、以後ご予約いただけなくなる場合がありますのでご注意ください。
                %span.omit
                  【先着300名様】
                  %br/
                  ■日本唯一となる「蒸しムール貝」の食べ放題会員権
                  %br/
                  ・会員証をお送り致します。
                  %br/
                  ・会員証を提示した方は一人980円で90分間「蒸しムール貝」の食べ放題を利用可能となります。
                  %a.more{:href => ""} ...もっとみる
              .receiptGray 領収書を発行
              .chageAd-gray お届け先を変更
              .information-aboutbtn-box
                %dl.information-aboutbtn
                  %dt.information-aboutbtn-ttl
                    領収書発行ができない
                  %dd.information-aboutbtn-txt
                    入金完了後に、領収書の発行が可能となります。
                %dl.information-aboutbtn
                  %dt.information-aboutbtn-ttl
                    お届け先を変更できない
                  %dd.information-aboutbtn-txt
                    実行者がリターン配送準備を進めている為、住所変更ができません。
                    %br/
                    実行者へ直接メッセージにてお問い合わせください。
    / ./rightContentMain
/ ./contentWrapper
/ Pagetopボタン
#page-top_jq{:style => "display:black"}
  %a{:href => "#wrap"} page top
-# ユーザー機能確認のためリンクおいてます。あとで編集してください。
-# %h1 ユーザーのshowページです
-# - if user_signed_in?
-#   %p
-#     = link_to 'ログアウト', destroy_user_session_path, method: :delete
-#   %p
-#     = link_to 'プロフィール編集', edit_user_path(current_user.id)
-# %p
-#   = @user.name
-# %p
-#   = @user.email

-# - if can? :promoter, current_user
-#   %p プロモーター用view
  -# プロモーターだけに表示したい内容は、"if can? :promoter, current_user"内に入れてください。一般ユーザーには表示されません。ただしadminユーザーには見れます。

-# - if can? :supporter, current_user
-#   %p 一般ユーザー用view
-#   %p
-#     = link_to 'プロジェクト掲載の相談をする', root_path
  -# 一般ユーザーだけに表示したい内容は、"if can? :supporter, current_user"内に入れてください。プロモーターには表示されません。ただしadminユーザーには見れます。
