-# ユーザー機能確認のためリンクおいてます。あとで編集してください。
%h1 ユーザーのshowページです
- if user_signed_in?
  %p
    = link_to 'ログアウト', destroy_user_session_path, method: :delete
  %p
    = link_to 'プロフィール編集', edit_user_path(current_user.id)
%p
  = @user.name
%p
  = @user.email

- if can? :promoter, current_user
  %p プロモーター用view
  -# プロモーターだけに表示したい内容は、"if can? :promoter, current_user"内に入れてください。一般ユーザーには表示されません。ただしadminユーザーには見れます。

- if can? :supporter, current_user
  %p 一般ユーザー用view
  %p
    = link_to 'プロジェクト掲載の相談をする', root_path
  -# 一般ユーザーだけに表示したい内容は、"if can? :supporter, current_user"内に入れてください。プロモーターには表示されません。ただしadminユーザーには見れます。
