
#header
  %header#headerIn
    %a#siteId.siteId{:href => "/"}
      %h1
        %svg.makuake-logo
          %title Makuake
          %use{"xlink:href" => "#makuakelogo_pc", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}

    / # = form_tag(search_projects_path, class: "findHeaderForm",:method => 'get') do
    / #   = text_field_tag "search",nil, class: "findHeaderInput"
    / #   = submit_tag '探す', class: "findFormHeaderSubmit"

    %form#search_form.findHeaderForm{:action => "/projects/search/", :method => "get"}
      %input.findHeaderInput{:name => "keyword", :type => "text", :value => ""}/
      %button#start_search.findFormHeaderSubmit{:type => "submit"}
        .findFormHeaderSubmit-iconbox
          %i.findFormHeaderSubmit-iconboxin
            %svg.findFormHeaderSubmit-iconboxin--black
              %use{"xlink:href" => "#icon-search_fill", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %i.findFormHeaderSubmit-iconboxin
            %svg.findFormHeaderSubmit-iconboxin--white
              %use{"xlink:href" => "#icon-search_fill", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        %span.findFormHeaderSubmit-txt 探す


    - if user_signed_in?
      / ログイン
      %nav#navigation02
        %ul.nav-header-box-after
          %li
            %a.header-link-apply-after{:href => "/apply/"} プロジェクトを掲載する
          %li{"data-geenie-favorite-header--hasnot" => "", :style => "display: block"}
            .header-like-box
              %a.header-like-after{:href => "/favorite/tag/"}
                %i
                  %svg.like-heart-after
                    %use{"xlink:href" => "#icon-heart_line", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %span.like-heart-txt-new new
              .header-like-tooltip
                .header-like-tooltip-box
                  %i
                    %svg.header-like-tooltip-icon
                      %use{"xlink:href" => "#icon-heart_line", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %span.header-like-tooltip-new
                %p.header-like-tooltip-txt
                  あなたのお気に入りを
                  %br>/
                  管理するページができました
                %a.header-like-tooltip-link{:href => "/favorite/tag/"} 詳しくはこちら
          %li{"data-geenie-favorite-header--has" => "", :style => "display: none"}
            %a.header-like-after{:href => "/favorite/tag/"}
              %i
                %svg.like-heart-after
                  %use{"xlink:href" => "#icon-heart_line", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.like-after-num{"data-geenie-favorite-notification-has" => "", :style => "display:none;"}
          %li
            %a.header-mail-after{:href => "/my/message/"}
              %i
                %svg.mail-after
                  %use{"xlink:href" => "#icon-mail_line", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span#unread_message_cnt.mail-after-num{:style => "display:none;"}
          %li
            #projectTips.header-bell-after
              %i
                %svg.bell-after
                  %use{"xlink:href" => "#icon-bell_line", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span#unread_notification_cnt.bell-after-num{:style => "display:none;"}
          %li
            %img.user_image.link03After{:src => "#{current_user.image}"}/

      #toolTipsPjt
        .toolTipsPjtIn
          #notice-scroll.toolTipsPjt03
            %p.notNotice 現在、通知がありません
      #myMenuBox
        %ul.headerMyIconClick
          %li.mypage
            %a.myLink01{:href => "/my/"}
              %div
                %img.user_image.userImage02{:src => "#{current_user.image}"}/
              %div マイページ
          %li#header_dashboard
            / %a.linkDash{:href => "#", :target => "_blank"}
            /   %img.linkDashChild{:alt => "ダッシュボード", :height => "101", :src => "//cdn-m.makuake.com/rev_2018/10/10/132936/img/imgItemBlank.gif", :width => "180"}/
            /   %p プロジェクト管理
          %li.links
            %a.links-mypage{:href => "/my/project/favorite/"} 支援・寄附したプロジェクト
          %li.links
            %a.links-mypage{:href => "/my/project/consumed/"} 購入履歴(ストア)
          %li.links
            %a.links-mypage{:href => "https://support.makuake.com/hc/ja/", :target => "_blank"} ヘルプ
          %li.links
            = link_to 'ログアウト', destroy_user_session_path, class:"links-mypage", method: :delete
    - else
      / ログアウト
      %nav#navigation
        %ul.nav-header-box
          %li
            %a.header-link-apply{:href => "/apply/"} プロジェクトを掲載する
          %li
            .header-like-box
              %a.header-like{:href => "/favorite/tag/", :onclick => ""}
                %i
                  %svg.like-heart
                    %use{"xlink:href" => "#icon-heart_line", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %p.like-heart-txt
                  お気に入り
                  / 通知
                  / <i class="like-heart-txt-new">new</i>
              .header-like-tooltip
                .header-like-tooltip-box
                  %i
                    %svg.header-like-tooltip-icon
                      %use{"xlink:href" => "#icon-heart_line", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %span.header-like-tooltip-new new
                %p.header-like-tooltip-txt
                  あなたのお気に入りを
                  %br>/
                  管理するページができました
                %a.header-like-tooltip-link{:href => "/favorite/tag/"} 詳しくはこちら
          %li
            = link_to 'ログイン', '#sign_in', {class: 'sign_in header-btn-login', id: "login"}
          %li
            = link_to '新規登録', '#sign_up', {class: 'sign_up header-btn-signin', id: "regist"}
      %input#staticurl{:type => "hidden", :value => "//s3-ap-northeast-1.amazonaws.com/static.makuake-ca.com"}/
      %input#staticurl_makuake{:type => "hidden", :value => "//cdn-m.makuake.com/rev_2018/10/10/132936"}/
