!!!
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width", name: "viewport"}/
    %meta{content: "E1E1FC54C2FA07FA57AEB0483B623C2E", name: "msvalidate.01"}/
    %meta{content: "667f9ec4a8a3ccfaf75391822432898779292be76a7a50068be8d64682492f381b55c0d0d2aa4886a2f731e9b75888dd3f312ea41fc5a7f33ca63b15cffa00d5", name: "fuel_csrf_token"}/
    %title 決済 Makuake_clone
    %link{href: "//css.36project.com/stylesheets/modules/reset.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/commons/common.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/supportsuccess.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/order.css", rel: "stylesheet"}/
    %link{:href => "//cdn-m.makuake.com/rev_2018/10/16/143133/img/favicon.ico", :rel => "shortcut icon"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    = csrf_meta_tags
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js', 'data-turbolinks-track': 'reload'
  %body
    = render "shared/svg"
    #header
      %header#headerIn
        %a#siteId.siteId{:href => "/"}
          %h1
            %svg.makuake-logo
              %title Makuake
              %use{"xlink:href" => "#makuakelogo_pc", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
    %script{:src => "//cdn-m.makuake.com/rev_2018/10/25/150018/js/geenie/investment/success/thankyou.js", :type => "text/javascript"}
    %script{:src => "//cdn-m.makuake.com/rev_2018/10/25/150018/js/geenie/investment/success/tags.js", :type => "text/javascript"}
    .grayBase
      %section.hero
        .hero-main
          %img.hero-main--thumb{:alt => "", :src => "#{@project.thumbnail}"}/
          %h2.hero-main--caption あなたの支援が、プロジェクトを後押ししました！
        .hero-sub
          .hero-sub-wrapper
            .hero-sub-before-support
              %p{:class => "hero-sub__money—before"}> #{(@project.total_sales) - (@order.payment_price)}
              円 (
              %p.hero-sub__gauge-before> #{(@project.total_sales - @order.payment_price)*100 / @project.target_sales.to_f.round(1)}
              \%)
            %span.hero-sub__money__triangle
            .hero-sub-after-support
              %p{:class => "hero-sub__money—after"}> #{@project.total_sales}
              円 (
              %p.hero-sub__gauge-after> #{@achievement}
              \%)


      .comment-box
        .comment-box__header
          %h2.comment-box__header__heading 応援コメントを投稿して、プロジェクトを盛り上げよう！
          %p.comment-box__header__hint
            投稿したコメントは
            = link_to "プロジェクトページ", project_path("#{@project.id}"), target:"_blank"
            に表示されますので、個人情報は記載しないでください。
        %section.comment-box__wrapper
          .comment-box__contents
            = form_tag("/projects/#{@project.id}/project_comments", method: :post, id:"comment_form") do
              .left-side
                %textarea#comment.comment-textarea{:autofocus => "", :cols => "", :maxlength => "200", :name => "content", :placeholder => "応援しています！頑張ってください！", :rows => ""}
                = hidden_field_tag :user_id, current_user.id
                = hidden_field_tag :project_id, @project.id
              .comment-box__bottom
                .right-side__counter
                  %span.js-cnt 0
                  %span /140
                = submit_tag "投稿する", id:"post_message", class:"submit-btn"

        %section
          %h2.tag-recommend-ttl あなたへおすすめのタグ
          %p.tag-recommend-ttl-hint
            興味のあるタグを登録しておくと、そのタグがつけられたプロジェクトの開始時に通知が届きます。
            %br>/
            気になるプロジェクトの見逃し防止におすすめです。
          .tag-recommend-linkbox
        .projectBoxBase
          .pickup
            %section
              %h3.pickup-ttl おすすめのプロジェクト
              %ul.pickup-project
                - Project.order("RAND()").limit(3).each do |pro|
                  %li
                    = link_to project_path("#{pro.id}"), class:"pickup-project-in-link" do
                      %section
                        =image_tag("#{pro.thumbnail}",height:"388", width:"690",alt:"#{pro.name}",class:"pickup-thumb")
                        %h4.pickup-project-title #{pro.name}

            %p.pickup_toplink_block
              %a.pickup_toplink{:href => "/"} トップページへ
    %p#page-top_jq{:style => "display: none;"}
      %a{:href => "#wrap"} PAGE TOP
    %footer.footer
      .footer-in
        .footer-bottom
          %div
            .footer-bottom-copy
              %small.footer-bottom-copy-txt Copyright © Makuake, Inc. All Rights Reserved.
          %div
            %ul.footer-bottom-link
              %li
                %a.footer-bottom-link-text{href: "/pages/company/"} 運営会社
              %li
                %a.footer-bottom-link-text{href: "/pages/term/"} 利用規約
              %li
                %a.footer-bottom-link-text{href: "/pages/privacy/"} プライバシーポリシー
