!!!
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width", name: "viewport"}/
    %meta{content: "E1E1FC54C2FA07FA57AEB0483B623C2E", name: "msvalidate.01"}/
    %meta{content: "667f9ec4a8a3ccfaf75391822432898779292be76a7a50068be8d64682492f381b55c0d0d2aa4886a2f731e9b75888dd3f312ea41fc5a7f33ca63b15cffa00d5", name: "fuel_csrf_token"}/
    %title 決済 Makuake_clone
    %link{href: "//css.36project.com/stylesheets/modules/reset.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/commons/common.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/commons/discover_common.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/commons/discover_project.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/supportcheck.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/order.css", rel: "stylesheet"}/
    :javascript
      function fuel_csrf_token()
      {
        if (document.cookie.length > 0)
        {
          var c_name = "fuel_csrf_token";
          c_start = document.cookie.indexOf(c_name + "=");
          if (c_start != -1)
          {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";" , c_start);
            if (c_end == -1)
            {
              c_end=document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
          }
        }
        return "";
      }
  %body
    = render "shared/svg"
    #header
      %header#headerIn
        %a#siteId.siteId{href: "/"}
          %h1
            %svg.makuake-logo
              %title Makuake
              %use{"xlink:href" => "#makuakelogo_pc", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %link{href: "//cdn-m.makuake.com/rev_2018/10/12/143228/css/header_mail_alert.css", rel: "stylesheet"}/
      %script{src: "//cdn-m.makuake.com/rev_2018/10/12/143228/js/geenie/email_auth.js"}
      .alertMail_wrap
        .alert_mail.alertMailCheck{style: "display: none;"}
          %span.alert_case01.Batsu01 ×
          %p
            リターンに関する連絡をとれるよう、メールアドレスをご確認ください。
            %span#header_sent_email_auth_adress>
            に確認メールを送信しました。
          %a#header_email_auth_resend_mail.reSendBtn{href: "#"} 確認メールを再送信
          #header_email_auth_alert_loading.reSendBtn{style: "display: none;"}
            %img{src: "//cdn-m.makuake.com/rev_2018/10/12/143228/img/common_loading.gif"}/
          %a.alertMailCh{href: "/my/settings/profile/email/"} 登録メールアドレスの変更
          %a.alertMailEx{href: "https://support.makuake.com/hc/ja/articles/115002461791", target: "_blank"} 詳しい説明
        .alert_mail.alertMailCheck.alertMailCheckBounce{style: "display: none;"}
          %span.alert_case02.Batsu01 ×
          %p
            %span#header_current_email_adress> ユーザーのメールアドレス
            は何らかの原因でメールが弾かれたため、実行者からの重要な連絡を受け取ることができません。メールアドレスの変更をお願いします。
          %a.reSendBtn{href: "/my/settings/profile/email/"} 登録メールアドレスの変更
          %a.alertMailDetail{href: "https://support.makuake.com/hc/ja/articles/115002471132", target: "_blank"} 詳しい説明
        .alert_yellow.alertMailChange{style: "display: none;"}
          %span.alert_case03.Batsu02.header_email_auth_alert_close_class ×
          .changeText
            確認用メールを
            %span#header_sent_email_adress>
            へ送信しました。
        .alert_yellow.alertAuthenticated{style: "display: none;"}
          %span.success Success!
          %span.alert_case04.Batsu02.header_email_auth_alert_close_class ×
          .authenticatedText
            メールアドレス
            %span#header_current_email_adress>
            を認証しました。
        .alert_yellow.alertFailed{style: "display: none;"}
          %span.failed Failed
          %span.alert_case05.Batsu01.header_email_auth_alert_close_class ×
          .failedText メールアドレスの認証に失敗しました。ボタンの有効期限が切れています。
    %script{src: "//cdn-m.makuake.com/rev_2018/10/12/143228/js/jquery.leanModal.min.js"}
    :javascript
      $(function() {

          $( 'a[rel*=leanModal]').leanModal({
              //top:500,
              overlay : 0.8,             // 背面の透明度
              closeButton: ".modal_close"  // 閉じるボタンのCSS classを指定
          });

          //クリックしたらある場所まで飛ばす
          $(".nenwJoin").click(function(){
              // var target = $("html,body").offset().top;
              // $("html,body").animate({
              //  scrollTop: 400
              // }, 400);
              $(".typeAfuck").click();
              return false;
          });

      });
    #adrsChenge
      %section
        %a.modal_close.posSet{href: "#"}
        .boxI
          %h3.ttl
            お届け先住所
            %a.btnC{href: "/investment/ship/1566563/"} 新規追加
        .addList
          .boxJ.address
            %i.icon_addNG{"data-user_addressbook_id" => "439626"}
            .boxK
              ユーザーネーム
              = succeed "5660046" do
                %br/
              = succeed "\u{6442}\u{6d25}\u{5e02}\u{5225}\u{5e9c}1-6-27" do
                %br/
              %br/
            .boxL
              %a.btnD{href: "/investment/ship/1566563/439626/"} 編集
          .boxJ.address
            %i.icon_addOK{"data-user_addressbook_id" => "441123"}
            .boxK

              = succeed "5660046" do
                %br/
              = succeed "\u{6442}\u{6d25}\u{5e02}\u{5225}\u{5e9c}1-7-27" do
                %br/
              %br/
            .boxL
              %a.btnD{href: "/investment/ship/1566563/441123/"} 編集
  = form_for [@user, @order] do |f|
    .grayBase
      = f.hidden_field :project_id, value: @order.project_id
      = f.hidden_field :send_address, value: @address.id
      = f.hidden_field :payment, value: "card"
      = f.hidden_field :payment_price, value: @course.price
      = f.fields_for :order_details do |detail|
        = detail.hidden_field :course_id, value: @course.id
        = detail.hidden_field :order_quantity, value: "1"
        = detail.hidden_field :shipping_date, value: @shippingTime
        = detail.hidden_field :unit_price, value: @course.price
      = f.hidden_field :course_question_id, value: @answer.course_question_id
      = f.hidden_field :answer, value: @answer.answer
      = f.hidden_field :question, value: @answer.question
      #contentWrapper.clearfix
        %nav.navA
          %ul.clearfix
            %li 1.コースのオプション選択
            %li.on 2.申込み内容の確認
            %li 3.完了
        %section.box
          .boxA
            %h2.ttl 申込み内容を確認する
          .boxF
            %dl
              %dt 支援金額
              %dd
                .boxOrder
                  = @course.price.to_s(:delimited)
                  円 (税込)
            %dl
              %dt コース内容
              %dd
                .boxG
                  = @course.content
            %dl
              %dt
                お届け先
                %a.btnA{href: "#adrsChenge", rel: "leanModal"} 変更する
              %dd
                .boxOrder
                = @fullName
                %br>/
                = @address.postal_code
                %br>/
                = @address.municipality + @address.house_number
                %br>/
                電話番号
                = " " + @address.phone_number
        .clearfix
          %script{"class" => "stripe-button", "data-amount" => @course.price, "data-description" => "お支払い情報", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-currency" => "jpy", "data-locale" => "ja", :src => "https://checkout.stripe.com/checkout.js", "data-label" => "カード情報を入力へ"}
        .boxHosoku
          %div
            %em ご確認お願いします
            %p
              このプロジェクトはAll in形式です。目標金額の達成に関わらず、プロジェクト終了日の12月26日 23:59までに支払いを完了した時点で、支援が成立します。
              %br/
              ※Makuakeは、プロジェクトオーナーのプロジェクトが必ず成功することや、プロジェクトの品質、リターン内容を保証するものではありません。従って、プロジェクト進行中に関するトラブル、返金要求、リターン返品要求はプロジェクトオーナーの責任のもと行われます。

    %input#investment_data_store{"data-geenie-is-self-support" => "", type: "hidden"}/
    %p#page-top_jq{style: "display: none;"}
      %a{href: "#wrap"} PAGE TOP
    %footer.footer
      .footer-in
        .footer-bottom
          %div
            .footer-bottom-copy
              %small.footer-bottom-copy-txt Copyright © Makuake, Inc. All Rights Reserved.
          %div
            %ul.footer-bottom-link
              %li
                %a.footer-bottom-link-text{href: "/pages/company/"} 運営会社
              %li
                %a.footer-bottom-link-text{href: "/pages/term/"} 利用規約
              %li
                %a.footer-bottom-link-text{href: "/pages/privacy/"} プライバシーポリシー
