= stylesheet_link_tag "http://css.36project.com/stylesheets/slider_thumb.css"
#wrapper
  / スライドショー
  = render "template/slider"
  / メインコンテンツ
  .popular-base
    %section.CatchCopy
      %h2.title 新たなチャレンジを応援しよう。
      %p.description 世の中を良くする新しいチャレンジが毎日続々と登場。
    / 閲覧履歴
    = render "template/history"
    / ピックアップ
    %section.ProjectPickup.headline
      .Title
        %h3.subject
          今日のピックアップ
          %a.TitleLink{:href => "/discover/pickup"}
            すべて見る
            %svg.arrow
              %use{"xlink:href" => "#icon-arrow-right", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %ul.projects.articles

        = render "template/pickup"
    / New
    %section.ProjectNew.headline
      .Title
        %h3.subject
          New!
          %a.TitleLink{:href => "/discover/new"}
            すべて見る
            %svg.arrow
              %use{"xlink:href" => "#icon-arrow-right", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %ul.projects.articles
        = render "template/new"
    / 活動レポート
    %section.CommunicationsOwner.headline
      .Title
        %h3.subject
          活動レポート
          %a.TitleLink{:href => "/report/"}
            すべて見る
            %svg.arrow
              %use{"xlink:href" => "#icon-arrow-right", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %ul.communications.articles
        = render "template/report"
    / 応援コメント
    %section.CommunicationsSupporter.headline
      .Title
        %h3.subject 応援コメント
      %ul.communications.articles
        = render "template/comment"
    / 人気のコース
    %section.returns-section.headline
      .Title
        %h3.subject 人気のコース
      %ul.returns.articles
        = render "template/hot_course"
    / ストア
    %section.StorePickup.headline
      .Title
        %h3.subject
          ストア
          %a.TitleLink{:href => "/discover/store"}
            すべて見る
            %svg.arrow
              %use{"xlink:href" => "#icon-arrow-right", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %ul.projects.articles
        = render "template/store"
    / Makuakeブログ
    %section.BlogArticle.headline
      .Title
        %h3.subject
          Makuakeブログ
          %a.TitleLink{:href => "http://blog.makuake.com"}
            すべて見る
            %svg.arrow
              %use{"xlink:href" => "#icon-arrow-right", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %ul.articles.articles
        = render "template/blog"
    / Makuakeコンテンツ
    %section.MakuakeContent.headline
      %ul.contents.articles
        = render "template/news"
