= stylesheet_link_tag "http://css.36project.com/stylesheets/comment.css"
= stylesheet_link_tag    '//css.36project.com/stylesheets/project_froala.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    '//css.36project.com/stylesheets/account.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.0.6/css/all.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.min.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/plugins/char_counter.min.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/plugins/fullscreen.min.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/plugins/colors.min.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/plugins/code_view.min.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/plugins/help.min.css', media: 'all', 'data-turbolinks-track': 'reload'
-# CDN化したら以下2行を編集
-# = stylesheet_link_tag    '//css.36project.com/stylesheets/promoter_ver3.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    '/../assets/promoter_ver3', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    '/../assets/like', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/languages/ja.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/char_counter.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/fullscreen.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/colors.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/code_view.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/font_size.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/help.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/link.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/lists.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/align.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/paragraph_format.min.js', 'data-turbolinks-track': 'reload'
:javascript
  $(document).ready(function(){
          var num = $(".projectTtl").offset().top;
      $(window).scroll(function () {
          if( $(this).scrollTop() >= num){
              $("#scrollContent").fadeIn(150);
          } else if($(this).scrollTop() <= num){
              $("#scrollContent").fadeOut(150);
          }
      });
  });
%body
  = render 'shared/svg'
  .toApplyLinkSide_Pos_Project
    =link_to "https://www.makuake.com/apply/", class:"toApplyLinkSide" do
      .toApplyLinkTxt
        プ
        %br>/
        ロ
        %br>/
        ジ
        %br>/
        ェ
        %br>/
        ク
        %br>/
        ト
        %br>/
        を
        %br>/
        掲
        %br>/
        載
        %br>/
        し
        %br>/
        た
        %br>/
        い
        %br>/
        方
        %br>/
        は
        %br>/
        こ
        %br>/
        ち
        %br>/
        ら
      .toApplyLinkBtn.btncol_03
  %input#project_id{:type => "hidden", :value => "@project.id"}/



  .grayBase
    .tab_wrapper_box
      .tab_wrapper
        .tabNavigation
          %ul.tabNav_menu
            %li
              = link_to "プロジェクト", project_path(@project),class:"tabOn"
            %li
              = link_to report_project_path(@project) do
                活動レポート
                %i.tabnavicon.tabnavicon--yellow #{@project.reports.length}
            %li
              = link_to project_project_comments_path(@project), data: {"turbolinks" => false} do
                応援コメント
                %i.tabnavicon.tabnavicon--yellow #{@project.project_comments.length}
          = render 'project_likes/like_links', project: @project



    .heroBase
      %aside.hero
        #media
          .videoIn
            - if @project.project_movies.present?
              .image_area.youtube{id:"#{@movie_id}"}
                #btn-playBase
                  #btn-play.r5 ▶ 再生
                =image_tag("#{@project.thumbnail}",height:"388", width:"690",style:"object-fit:cover;",class:"video-image")
              .video_area
            - elsif @project.project_images.present?
              .image_area
                =image_tag("#{@project.project_images.to_a[0].image}",height:"388", width:"690",style:"object-fit:contain;",class:"main-image")
            - else
              .image_area
                =image_tag("https://haginoryokkou.com/wp-content/uploads/2016/09/noimage.png",alt:"no-image",height:"388", width:"690",style:"object-fit:cover;",class:"no-image")
        .pnumBase
          - if @project.achievement >= 100
            %svg.icon_success
              %use{"xlink:href" => "#icon-success", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          .pnumBaseUp
            .stMoney
              %p.stMoneyTtl
                %svg.stMoneyTtlIcon
                  %use{"xlink:href" => "#icon-money", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %span 集まっている金額
              %p.stMoneyNum{"data-investment-info-collected-money" => ""}
                = number_with_delimiter("#{@project.total_sales}")
                円
              %p.stMoneyGoal
                目標金額
                = number_with_delimiter("#{@project.target_sales}")
                円
            .stbar
              .stbarin{"data-investment-info-percent-style" => "", :style => "width:#{@project.achievement}%;"}
                %p{"data-investment-info-percent" => ""} #{@project.achievement}%
            .stSupo
              %p.stSupoTtl
                %svg.stSupoTtlIcon
                  %use{"xlink:href" => "#icon-user-03", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %span 支援者
              %p.stSupoNum{"data-investment-info-collected-supporter" => ""} #{@supporters} 人
            .stDay
              %p.stDayTtl
                %svg.stDayTtlIcon
                  %use{"xlink:href" => "#icon-time", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %span 残り
              %p#last.timer.stDayNum
                %span #{@project.time_limit}
          .pnumBaseDown
            - if @project.time_limit == "終了"
              .shienEnd 終了しました
            - else
              = link_to "#",{:onclick => "$('html,body').animate({ scrollTop: $('.returnTtl').offset().top-20 }, 800); return false;",id:"sienBtn"} do
                %p 支援するコースを選択する
    .heroBtmBase
      %section
        / サムネイルの表示
        .heroBtmBaseUp
          -if @project.project_images.length > 1
            #thumbnailList
              - if @project.project_movies.present?
                - @project.project_movies.each do |movie|
                  .slideShowThumbnail.movieThumbnail
                    = image_tag("#{@project.thumbnail}",alt:"movie", style:"object-fit:cover",class:"movieThumb")
              - @project.project_images.each do |image|
                .slideShowThumbnail
                  = image_tag("#{image.image}",alt:"#{image.id}", style:"object-fit:cover",class:"imageThumb")
          %h2.projectTtl #{@project.name}
          .tagWrapper
            = render partial: 'projects/tag', collection: @project.tags, as: 'tag'
        = render 'sub_info'
    .movieReturn{:style => "display: none;"} 戻す

    #main.clearfix
      #leftContent
        .owner-latest
          %h3.owner-latest_title 実行者の最新投稿
          - if @project.reports.length < 1
            .owner-latest_balloon--nopost
              %span.owner-latest-post--nopost 最新の投稿はありません
          - else
            = link_to report_project_path(@project), class: 'owner-latest__more' do
              %span more
              %svg.right-arrow
                %use{"xlink:href" => "#icon-arrow-right", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            .owner-latest_balloon
              %span.owner-latest-post
                = link_to report_project_path(@project), style: 'color: #808080; text-decoration: none;' do
                  %span #{@project.reports.to_a.last.content.truncate(75)}
              %svg.right-arrow_inner
                %use{"xlink:href" => "#icon-arrow-right", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              .owner-latest_balloon_triangle
              .owner-latest_balloon_triangle2
          / ここから会社情報
          .owner-info
            %img.owner-info_thumb{:alt => "#{@project.user.name}", :src => "#{@project.user.image}", :onerror => "this.src='http://image.36project.com/icon_yellow.png'"}/
            .owner-info_name-wrapper
              = @project.user.name
            .owner-contact
              %ul
                %li
                  .owner-contact_icon
                    %svg.owner-contact_icon_fb
                      %use{"xlink:href" => "#icon-facebook", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %li
                  .owner-contact_icon
                    %svg.owner-contact_icon_link
                      %use{"xlink:href" => "#icon-earth", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              .owner-line-divider
              .owner-contact_ask.open_contact_window
                = link_to "#contact_me_box",class:" modal" do
                  %svg.owner-contact_message
                    %use{"xlink:href" => "#icon-mail", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %span.owner-contact_title 実行者へ問合せ
          / ここまで会社情報
        / ここからプロジェクト内容詳細
        %section
          %h3.story_title このプロジェクトについて
          - if @summary.length > 1
            .summaryContainer
              %ol.summaryList
                - @summary.each do |sum|
                  %li.summaryItem
                    #{sum}
            .triangleAfterSummary
          - if @project.user == current_user
            .project-edit-area
              .project-edit-description
                プロジェクトの紹介文を編集できます。
                %br
                このボタンはあなただけに表示されています。
              .project-edit-btn
                = link_to edit_project_path(@project), method: :get, remote: true do
                  %i.fas.fa-edit
          #leftContentMain.leftTextColor
            %section.leftProjectDetail
              .leftText
                .floaraTextArea
                  = raw @project.content
          #supporting-comment
            %h2#supporting-comment-title 応援コメント
            #supporting-comment-wrapper
              - @project.project_comments.order("created_at DESC").first(3).each do |comment|
                = link_to "#", class:"supporting-comment-content" do
                  .supporting-comment-left
                    %img.supporting-comment-icon{:src => "#{comment.user.image}", :onerror => "this.src='http://image.36project.com/icon_yellow.png'"}/
                  .supporting-comment-right
                    %p.supporting-comment-name #{comment.user.name}
                    %p.supporting-comment-date #{comment.created_at.strftime("%Y.%m.%d")}
                    %p.supporting-comment-message
                      #{comment.content}
            - if @project.project_comments.length < 1
              %p.supporting-comment-more{ style: 'font-weight: normal;'}
                コメントはまだありません
            - else
              .supporting-comment-more{:style => ""}
                = link_to "すべて見る", project_project_comments_path(@project.id), id:"support-comment-link"



          = link_to "支援するコースを選択する","#",{:onclick => "$('html,body').animate({ scrollTop: $('.returnTtl').offset().top-20 }, 800); return false;",id:"sienBtn03", class:"btncol_03"}
          .share-block
            = link_to "#",{:onclick => "window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;", :target => "blank",class:"share-btn-facebook"} do
              %div
                %svg.share-icon-facebook
                  %use{"xlink:href" => "#icon-facebook-02", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %div
                %p Facebookでシェア
            = link_to "#", {:onclick => "window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;", :target => "blank", class:"share-btn-twitter"} do
              %div
                %svg.share-icon-twitter
                  %use{"xlink:href" => "#icon-twitter-02", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %div
                %p Twitterでシェア
        / ここまでプロジェクト詳細
      #rightContent
        %section
          %h3#returnTitleText.returnTtl 支援するコースを選択する
          .anoInfo
            - if @project.support_type == 1
              %p このプロジェクトはAll in形式です。目標金額の達成に関わらず、プロジェクト終了日の#{@project.deadline.strftime("%m月%d日")} 23:59までに支払いを完了した時点で、支援が成立します。
            - else
              %p このプロジェクトはAll or Nothing形式です。プロジェクト終了日の#{@project.deadline.strftime("%m月%d日")} 23:59までに目標金額が達成となった時点で、支援が成立します。目標金額の達成後は、支払いを完了した時点で、支援が成立します。
          #return
            = render 'template/courses'
        .anotherLinkArea
          .owner-contact_ask--02.open_contact_window
            %svg.owner-contact_message--02
              %use{"xlink:href" => "#icon-mail", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %span.owner-contact_title--02 実行者へ問合せ
        .anoterInfo
          %p
            「Makuake（マクアケ）」は、実行者の想いを支援によって実現するクラウドファンディングサイトです。このページは、
            #{@project.category.name}カテゴリの
            「#{@project.name}」プロジェクト詳細ページです。
        .sct
          .go-to-sct 特定商取引法に基づく表記



      #scrollContent{:style => "display: none;"}
        = link_to "コースを選択","#", {:onclick => "$('html,body').animate({ scrollTop: $('.returnTtl').offset().top - 20 }, 800); return false;",class: "scrollShienBtn"}
      #contact_me_overlay{:style => "display:none;"}

      #contact_me_box{:style => "display:none;"}
        .contact_me_modal_close
          %svg.contact_me_modal_close_btn
            %use{"xlink:href" => "#icon-close"}
        %p.contact_me_ttl 質問する
        %span#message_error{:style => "display:none;"}
        %p.contact_me_ttl02 To:#{@project.user.name}
        %textarea#message_content{:maxlength => "2000"}
        %p.contact_me_count
          %span#counter> 2000
          \/2000
        %button#message_post 送信する
      #contact_me_box_confirm{:style => "display:none;"}
        .contact_me_modal_close
        %p#message_sent.contact_me_ttl 質問が送信されました。
        %a#url_confirm{:href => ""} 確認する
      %input#project_id{:type => "hidden", :value => "5111"}/
    .bread-crumb-listBase
      %ul#bread-crumb-list.clearfix
        %li
          = link_to "TOP", projects_path
           
          %i> &gt;
           
        %li
          = link_to "プロジェクト一覧",search_projects_path
           
          %i> &gt;
           
        %li
          = link_to "#{@project.category.name}", categories_discover_path(@project.category_id)
           
          %i> &gt;
           
        %li
          = link_to "#{@project.name}",project_path(params[:id])
