:javascript
  $(document).ready(function(){
          var num = $(".projectTtl").offset().top;
      $(window).scroll(function () {
          if( $(this).scrollTop() >= num){
              $("#scrollContent").fadeIn(150);
          } else if($(this).scrollTop() <= num){
              $("#scrollContent").fadeOut(150);
          }
      });
  });

%body
  = render 'shared/svg'
  .toApplyLinkSide_Pos_Project
    %a.toApplyLinkSide{:href => "/apply/"}
      .toApplyLinkTxt
        プ
        %br>/
        ロ
        %br>/
        ジ
        %br>/
        ェ
        %br>/
        ク
        %br>/
        ト
        %br>/
        を
        %br>/
        掲
        %br>/
        載
        %br>/
        し
        %br>/
        た
        %br>/
        い
        %br>/
        方
        %br>/
        は
        %br>/
        こ
        %br>/
        ち
        %br>/
        ら
      .toApplyLinkBtn.btncol_03
  %input#is_shopping{:type => "hidden", :value => "0"}/
  %input#project_id{:type => "hidden", :value => "@project.id"}/



  .grayBase
    .tab_wrapper_box
      .tab_wrapper
        .tabNavigation
          %ul.tabNav_menu
            %li{"data-tab_type" => "project"}
              %a.tabOn{:href => "#"}
                プロジェクト
            %li{"data-tab_type" => "owner"}
              %a{:href => "#"}
                活動レポート
                %i.tabnavicon.tabnavicon--yellow #{@project.reports.length}
            %li{"data-tab_type" => "supporter"}
              %a{:href => "#"}
                応援コメント
                %i.tabnavicon.tabnavicon--yellow #{@project.project_comments.length}
          .goodBase_tab
            %a.goodBaseIn_tab{"data-geenie-project-good" => "off"}
              %i.icon_heart_off_tab
                %svg.icon_heart_off_tab-in
                  %use{"xlink:href" => "#icon-heart_line", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span お気に入りに追加
            %a.goodBaseIn2_tab{"data-geenie-project-good" => "on", :style => "display:none;"}
              %i.icon_heart_on_tab
                %svg.icon_heart_on_tab-in
                  %use{"xlink:href" => "#icon-heart_fill", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span お気に入り追加中



    .heroBase
      %aside.hero
        #media
          .videoIn
            :javascript
              var bindVideoTap = function(){
                  return true;
              };
            %img{:alt => "", :height => "388", :src => "#", :style => "cursor:default;", :width => "690"}/
        .pnumBase
          - if @project.bar >= 100
            %svg.icon_success
              %use{"xlink:href" => "#icon-success", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          .pnumBaseUp
            .stMoney
              %p.stMoneyTtl
                %svg.stMoneyTtlIcon
                  %use{"xlink:href" => "#icon-money", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %span 集まっている金額
              %p.stMoneyNum{"data-investment-info-collected-money" => ""}
                = number_with_delimiter("#{@project.total_sales}")
                円
              %p.stMoneyGoal
                目標金額
                = number_with_delimiter("#{@project.target_sales}")
                円
            .stbar
              .stbarin{"data-investment-info-percent-style" => "", :style => "width:#{@project.bar}%;"}
                %p{"data-investment-info-percent" => ""} #{@project.bar}%
            .stSupo
              %p.stSupoTtl
                %svg.stSupoTtlIcon
                  %use{"xlink:href" => "#icon-user-03", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %span 支援者
              %p.stSupoNum{"data-investment-info-collected-supporter" => ""} #{@supporters} 人
            .stDay
              %p.stDayTtl
                %svg.stDayTtlIcon
                  %use{"xlink:href" => "#icon-time", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %span 残り
              %p#last.timer.stDayNum
                %span #{@project.time_limit}
          .pnumBaseDown
            - if @project.time_limit == "終了"
              .shienEnd 終了しました
            - else
              %a#sienBtn{:href => "#", :onclick => "$('html,body').animate({ scrollTop: $('.returnTtl').offset().top-20 }, 800); return false;"}
                %p 支援するコースを選択する
    .heroBtmBase
      %section
        .heroBtmBaseUp
          %h2.projectTtl #{@project.name}
          / タグがあれば表示
          .tagWrapper
            %a.pjTag{:href => "/"}
              %span.tag #
              %span.tagName tag
          / タグがあれば表示
        .heroBtmBaseDown
          / カテゴリー表示
          .project-location
            %a{:href => "/discover/locations/1/?from=location_project_page_1"}
              %svg.icon-tag
                %use{"xlink:href" => "#icon-tag", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %span.location-name #{@project.category.name}


          / ここまでカテゴリー表示
          .sns-wrapper
            %ul
              %li
                %iframe#twitter-widget-0.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button{:allowtransparency => "true", "data-url" => "https://www.makuake.com/project/georiem7/?utm_source=georiem7&utm_medium=sns_share_tw", :frameborder => "0", :scrolling => "no", :src => "https://platform.twitter.com/widgets/tweet_button.1dcb9052029dec42394397b936b6c31a.ja.html#dnt=false&hashtags=Makuake&id=twitter-widget-0&lang=ja&original_referer=https%3A%2F%2Fwww.makuake.com%2Fproject%2Fgeoriem7%2F&size=m&text=%E5%BF%99%E3%81%97%E3%81%84%E6%9C%9D%E3%81%AB%EF%BC%81%E9%80%9A%E5%8B%A4%E5%87%BA%E5%BC%B5%E3%81%A8%E8%87%AA%E7%94%B1%E8%87%AA%E5%9C%A8%EF%BC%81%E5%A4%A7%E5%AE%B9%E9%87%8F%E8%BB%BD%E9%87%8F%E3%81%AE3WAY%E3%83%9C%E3%83%87%E3%82%A3%E3%83%90%E3%83%83%E3%82%B0Georiem&time=1539405615047&type=share&url=https%3A%2F%2Fwww.makuake.com%2Fproject%2Fgeoriem7%2F%3Futm_source%3Dgeoriem7%26utm_medium%3Dsns_share_tw&via=makuake_ca", :style => "position: static; visibility: visible; width: 75px; height: 20px;", :title => "Twitter Tweet Button"}

              %li
                %a.newJoin.js-iframe-call{:href => "#iframeBase", :rel => "leanModal"}
                  %svg.icon-widget
                    %use{"xlink:href" => "#icon-widget", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                  %span.title-widget 埋め込み
    .movieReturn{:style => "display: none;"} 戻す

    %script{:src => "//cdn-m.makuake.com/rev_2018/10/12/143228/js/jquery.leanModal.min.js"}
    #iframeBase
      %svg.modal_close
        %use{"xlink:href" => "#icon-close"}
      %p.modal_text
        下方のHTMLコードをコピーして、あなたのWebサイトやブログに用途に
        あわせて様々な形のプロジェクト概要を表示して応援しよう！
      %ul.tabs
        %li.typeAfook.baGray 310x390
        %li.typeBfook 160x420
        %li.typeCfook 460x200
        %li.typeDfook 160x160
        %li.typeEfook 1000x287
      .boxcDiplay
        .typeA
          .bnnerAreaIn.clearfix
            #typeAL.bnnerAreaInL
            .bnnerAreaInR
              %textarea.wighetText310{:onclick => "this.focus();this.select()"} &lt;iframe  scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:390px;" allowtransparency="true" src="https://www.makuake.com/widget/project/georiem7/"&gt;&lt;/iframe&gt;
        .typeB
          .bnnerAreaIn.clearfix
            #typeBL.bnnerAreaInL
            .bnnerAreaInR
              %textarea.wighetText160{:onclick => "this.focus();this.select()"} &lt;iframe  scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:160px; height:420px;" allowtransparency="true" src="https://www.makuake.com/widget/project/georiem7/length/"&gt;&lt;/iframe&gt;
        .typeC
          .bnnerAreaIn.clearfix
            #typeCL.bnnerAreaInL
            .bnnerAreaInR
              %textarea.wighetText460{:onclick => "this.focus();this.select()"} &lt;iframe  scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:460px; height:200px;" allowtransparency="true" src="https://www.makuake.com/widget/project/georiem7/wide/"&gt;&lt;/iframe&gt;
        .typeD
          .bnnerAreaIn.clearfix
            #typeDL.bnnerAreaInL
            .bnnerAreaInR
              %textarea.wighetText160_02{:onclick => "this.focus();this.select()"} &lt;iframe  scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:160px; height:160px;" allowtransparency="true" src="https://www.makuake.com/widget/project/georiem7/square/"&gt;&lt;/iframe&gt;
        .typeE
          .bnnerAreaIn
            #typeEL.mb
            %div
              %textarea.wighetText1000{:onclick => "this.focus();this.select()"} &lt;iframe  scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:1000px; height:287px;" allowtransparency="true" src="https://www.makuake.com/widget/project/georiem7/hero/"&gt;&lt;/iframe&gt;

    #main.clearfix
      #leftContent
        .owner-latest
          %h3.owner-latest_title 実行者の最新投稿
          %a.owner-latest__more{:href => "/project/georiem7/communication/"}
            %span more
            %svg.right-arrow
              %use{"xlink:href" => "#icon-arrow-right", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          - if @project.reports.length < 1
            .owner-latest_balloon--nopost
              %span.owner-latest-post--nopost 最新の投稿はありません #{@project.reports.length}
          - else
            .owner-latest_balloon
              %span.owner-latest-post
                = truncate("#{@project.reports.to_a.last.content}", length: 75, omission: "...")
              %svg.right-arrow_inner
                %use{"xlink:href" => "#icon-arrow-right", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              .owner-latest_balloon_triangle
              .owner-latest_balloon_triangle2
          / ここから会社情報
          .owner-info
            %img.owner-info_thumb{:alt => "#{@project.user.name}", :src => "#{@project.user.image}"}/
            .owner-info_name-wrapper
              %a.owner-info_name{:href => "/"} #{@project.user.name}
            .owner-contact
              %ul
                %li
                  %a.owner-contact_icon{:href => "http://www.facebook.com/Georiem.jp", :target => "_blank"}
                    %svg.owner-contact_icon_fb
                      %use{"xlink:href" => "#icon-facebook", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %li
                  %a.owner-contact_icon{:href => "https://buzip.net/kanagawa/merthans/", :target => "_blank"}
                    %svg.owner-contact_icon_link
                      %use{"xlink:href" => "#icon-earth", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              .owner-line-divider
              %a.owner-contact_ask.open_contact_window{"data-location" => "/my/message/new/5111/"}
                %svg.owner-contact_message
                  %use{"xlink:href" => "#icon-mail", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                %span.owner-contact_title 実行者へ問合せ
          / ここまで会社情報
        / ここからプロジェクト内容詳細
        %section
          %h3.story_title このプロジェクトについて
          .summaryContainer
            %ol.summaryList
              %li.summaryItem
                キャッチコピーその１
              %li.summaryItem
                キャッチコピーその２
              %li.summaryItem
                キャッチコピーその３
          .triangleAfterSummary
          #leftContentMain.leftTextColor
            %section.leftProjectDetail
              .leftText
                #{@project.content}
          #supporting-comment
            %h2#supporting-comment-title 応援コメント
            #supporting-comment-wrapper
              - @project.project_comments.order("created_at DESC").first(3).each do |comment|
                %a.supporting-comment-content{:href => "/"}
                  .supporting-comment-left
                    %img.supporting-comment-icon{:src => "#{comment.user.image}"}/
                  .supporting-comment-right
                    %p.supporting-comment-name #{comment.user.name}
                    %p.supporting-comment-date #{comment.created_at.strftime("%Y.%m.%d")}
                    %p.supporting-comment-message
                      #{comment.content}

            .supporting-comment-more{:style => ""}
              %a#support-comment-link{:href => "/project/georiem7/communication/supporter/"} すべて見る
          %a#sienBtn03.btncol_03{:href => "#", :onclick => "$('html,body').animate({ scrollTop: $('.returnTtl').offset().top-20 }, 800); return false;"}
            %p 支援するコースを選択する
          .share-block
            %a.share-btn-facebook{:href => "#", :onclick => "window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;", :target => "blank"}
              %div
                %svg.share-icon-facebook
                  %use{"xlink:href" => "#icon-facebook-02", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %div
                %p Facebookでシェア
            %a.share-btn-twitter{:href => "/", :onclick => "window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;", :target => "blank"}
              %div
                %svg.share-icon-twitter
                  %use{"xlink:href" => "#icon-twitter-02", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %div
                %p Twitterでシェア
        / ここまでプロジェクト詳細
      #rightContent
        %section
          %h3#returnTitleText.returnTtl 支援するコースを選択する
          .anoInfo
            - if @project.support_type == 1
              %p このプロジェクトはAll in形式です。目標金額の達成に関わらず、プロジェクト終了日の#{@project.deadline.strftime("%m月%d日")} 23:59までに支払いを完了した時点で、支援が成立します。
            - else
              %p このプロジェクトはAll or Nothing形式です。プロジェクト終了日の#{@project.deadline.strftime("%m月%d日")} 23:59までに目標金額が達成となった時点で、支援が成立します。目標金額の達成後は、支払いを完了した時点で、支援が成立します。
          #return
            = render 'template/courses'
        .anotherLinkArea
          %a.owner-contact_ask--02.open_contact_window{"data-location" => "/my/message/new/5111/"}
            %svg.owner-contact_message--02
              %use{"xlink:href" => "#icon-mail", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %span.owner-contact_title--02 実行者へ問合せ
        .anoterInfo
          %p
            「Makuake（マクアケ）」は、実行者の想いを支援によって実現するクラウドファンディングサイトです。このページは、
            #{@project.category.name}カテゴリの

            「#{@project.name}」プロジェクト詳細ページです。
        .sct
          %a.go-to-sct{:href => "https://www.makuake.com/project/georiem7/sct/"} 特定商取引法に基づく表記
      #scrollContent{:style => "display: none;"}
        / <a id="topBtn02" href=""><img src="//cdn-m.makuake.com/rev_2018/10/12/143228/img/btn_pagetop02.gif" alt=""></a>
        #scrollTw
          %iframe#twitter-widget-1.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button{:allowtransparency => "true", "data-url" => "https://www.makuake.com/project/georiem7/?utm_source=georiem7&utm_medium=sns_share_tw", :frameborder => "0", :scrolling => "no", :src => "https://platform.twitter.com/widgets/tweet_button.1dcb9052029dec42394397b936b6c31a.ja.html#dnt=false&hashtags=Makuake&id=twitter-widget-1&lang=ja&original_referer=https%3A%2F%2Fwww.makuake.com%2Fproject%2Fgeoriem7%2F&size=m&text=%E5%BF%99%E3%81%97%E3%81%84%E6%9C%9D%E3%81%AB%EF%BC%81%E9%80%9A%E5%8B%A4%E5%87%BA%E5%BC%B5%E3%81%A8%E8%87%AA%E7%94%B1%E8%87%AA%E5%9C%A8%EF%BC%81%E5%A4%A7%E5%AE%B9%E9%87%8F%E8%BB%BD%E9%87%8F%E3%81%AE3WAY%E3%83%9C%E3%83%87%E3%82%A3%E3%83%90%E3%83%83%E3%82%B0Georiem%20%7C%20%E3%82%AF%E3%83%A9%E3%82%A6%E3%83%89%E3%83%95%E3%82%A1%E3%83%B3%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0%20-%20Makuake%EF%BC%88%E3%83%9E%E3%82%AF%E3%82%A2%E3%82%B1%EF%BC%89&time=1539405615049&type=share&url=https%3A%2F%2Fwww.makuake.com%2Fproject%2Fgeoriem7%2F%3Futm_source%3Dgeoriem7%26utm_medium%3Dsns_share_tw&via=makuake_ca", :style => "position: static; visibility: visible; width: 75px; height: 20px;", :title => "Twitter Tweet Button"}
        #scrollShienBtnBase
          %a.scrollShienBtn{:onclick => "$('html,body').animate({ scrollTop: $('.returnTtl').offset().top - 20 }, 800); return false;"} コースを選択
      #contact_me_overlay{:style => "display:none;"}

      #contact_me_box{:style => "display:none;"}
        .contact_me_modal_close
          %svg.contact_me_modal_close_btn
            %use{"xlink:href" => "#icon-close"}
        %p.contact_me_ttl 質問する
        %span#message_error{:style => "display:none;"}
        %p.contact_me_ttl02 To:#{@project.user.name}
        %textarea#message_content{:maxlength => "2000"}
        %p.contact_me_count
          %span#counter> 2000
          \/2000
        %button#message_post 送信する
      #contact_me_box_confirm{:style => "display:none;"}
        .contact_me_modal_close
        %p#message_sent.contact_me_ttl 質問が送信されました。
        %a#url_confirm{:href => ""} 確認する
      %input#project_id{:type => "hidden", :value => "5111"}/
    .bread-crumb-listBase
      %ul#bread-crumb-list.clearfix
        %li
          %a{:href => "/", :itemprop => "url"}>
            %span{:itemprop => "title"} TOP
           
          %i> &gt;
           
        %li
          %a{:href => "/projects/search/", :itemprop => "url"}>
            %span{:itemprop => "title"} プロジェクト一覧
           
          %i> &gt;
           
        %li
          %a{:href => "/discover/categories/product/", :itemprop => "url"}>
            %span{:itemprop => "title"} #{@project.category.name}
           
          %i> &gt;
           
        %li{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
          %a{:href => "/project/georiem7/", :itemprop => "url"}
            %span{:itemprop => "title"} #{@project.name}
