!!!
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width", name: "viewport"}/
    %meta{content: "E1E1FC54C2FA07FA57AEB0483B623C2E", name: "msvalidate.01"}/
    %title Makuake_clone
    %link{href: "//css.36project.com/stylesheets/modules/reset.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/commons/common.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/commons/discover_common.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/commons/discover_project.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/supportindex.css", rel: "stylesheet"}/
    %link{href: "//css.36project.com/stylesheets/course_alert.css", rel: "stylesheet"}/
    %script{:src => "https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"}
    = csrf_meta_tags
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js', 'data-turbolinks-track': 'reload'
  %body
    = render "shared/svg"

    #header
      %header#headerIn
        %a#siteId.siteId{href: "/"}
          %h1
            %svg.makuake-logo
              %title Makuake
              %use{"xlink:href" => "#makuakelogo_pc", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      .alertMail_wrap
        .alert_mail.alertMailCheck{style: "display: none;"}
          %span.alert_case01.Batsu01 ×
          %p
            リターンに関する連絡をとれるよう、メールアドレスをご確認ください。
            %span#header_sent_email_auth_adress>
            に確認メールを送信しました。
          %a#header_email_auth_resend_mail.reSendBtn{href: "#"} 確認メールを再送信
          #header_email_auth_alert_loading.reSendBtn{style: "display: none;"}
            %img{src: "//cdn-m.makuake.com/rev_2018/10/12/143228/img/common_loading.gif"}/
          %a.alertMailCh{href: "/my/settings/profile/email/"} 登録メールアドレスの変更
          %a.alertMailEx{href: "https://support.makuake.com/hc/ja/articles/115002461791", target: "_blank"} 詳しい説明
        .alert_mail.alertMailCheck.alertMailCheckBounce{style: "display: none;"}
          %span.alert_case02.Batsu01 ×
          %p
            %span#header_current_email_adress> =current_user.email
            は何らかの原因でメールが弾かれたため、実行者からの重要な連絡を受け取ることができません。メールアドレスの変更をお願いします。
          %a.reSendBtn{href: "/my/settings/profile/email/"} 登録メールアドレスの変更
          %a.alertMailDetail{href: "https://support.makuake.com/hc/ja/articles/115002471132", target: "_blank"} 詳しい説明
        .alert_yellow.alertMailChange{style: "display: none;"}
          %span.alert_case03.Batsu02.header_email_auth_alert_close_class ×
          .changeText
            確認用メールを
            %span#header_sent_email_adress>
            へ送信しました。
        .alert_yellow.alertAuthenticated{style: "display: none;"}
          %span.success Success!
          %span.alert_case04.Batsu02.header_email_auth_alert_close_class ×
          .authenticatedText
            【ユーザーのメールアドレス】
            %span#header_current_email_adress>
            を認証しました。
        .alert_yellow.alertFailed{style: "display: none;"}
          %span.failed Failed
          %span.alert_case05.Batsu01.header_email_auth_alert_close_class ×
          .failedText メールアドレスの認証に失敗しました。ボタンの有効期限が切れています。
    %script{src: "//cdn-m.makuake.com/rev_2018/10/12/143228/js/geenie/investment/select.js", type: "text/javascript"}
    %script{src: "//cdn-m.makuake.com/rev_2018/10/12/143228/js/geenie/investment/ellipses.js"}
    / main
    .grayBase
      #contentWrapper.clearfix
        %nav.navA
          %ul.clearfix
            %li.on 1.コースのオプション選択
            %li 2.申込み内容の確認
            %li 3.完了
        %a.linkB{href: "/projects/#{@course.project_id}"} 前のページへ戻る
        / ここからコース詳細欄
        %form#support_form{action: "/users/#{current_user.id}/orders/new", method: "GET"}
          %input{name: "project_id", type: "hidden", value: @course.project_id }/
          %input{name: "course_id", type: "hidden", value: @course.id }/
          %section.box
            .boxA
              %h2.ttl 選択中のコース
            .boxB.dTable
              .dTableCell
                %img.imgA{:alt => @course.name, :height => "165", :src => @image, :width => "280"}/
              .boxC.dTableCell
                %em.txtA
                  = @course.price
                  円コース
                  %span.txtTax (税込)
                %p.txtB
                  = @course.name
                %p.stock
                  残り
                  = @course.stock
                  個
                .boxE
                  .boxShien
                    %svg.icon_shien
                      %use{"xlink:href" => "#icon-user-03", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                      / 次の支援者数は決済システム実装後にインスタンス変数で表示できるようにする。
                    %p.descriptionDelivery 【ここに支援者数】
                  .boxDelivery
                    %svg.icon_delivery
                      %use{"xlink:href" => "#icon-case", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
                    %p.descriptionShien
                      = @course.due_date
                %p.txtC.js-return-desc
                  %span.hide
                    = @course.content
                  %span.omit
                    = @course.content
                  / ここまでコース詳細欄
          - if @questions
            = render partial: 'courseTemplate/question', collection: @questions
          .clearfix
            %input.nextBtn{:type => "submit", :value => "次へ", "data-id": "#{current_user.send_addresses.count}"}/
            #send__address--alert{style: "display:none"}
              %section.send__address--alert__box
                .send__address--alert__title
                  お願い
                .send__address--alert--message
                  ご支援の際は、先に送り先住所の登録が必要です。
                .send__address--registration
                  = link_to user_path(current_user),{class: "send__address--registration__link"} do
                    送り先住所登録へ
        .boxHosoku
          %div
            %em ご確認お願いします
            -if @course.project.support_type == 1
              %p
                このプロジェクトはAll in形式です。目標金額の達成に関わらず、プロジェクト終了日の
                までに支払いを完了した時点で、支援が成立します。
                %br/
                ※Makuakeは、プロジェクトオーナーのプロジェクトが必ず成功することや、プロジェクトの品質、リターン内容を保証するものではありません。従って、プロジェクト進行中に関するトラブル、返金要求、リターン返品要求はプロジェクトオーナーの責任のもと行われます
            -else
              %p
                このプロジェクトはAll or Nothing型です。プロジェクト成立のためにはプロジェクト終了日の
                #{@course.project.deadline.strftime("%m月%d日")}23:59までに目標金額が達成となる必要があります。
                %br/
                ※Makuakeは、プロジェクトオーナーのプロジェクトが必ず成功することや、プロジェクトの品質、リターン内容を保証するものではありません。従って、プロジェクト進行中に関するトラブル、返金要求、リターン返品要求はプロジェクトオーナーの責任のもと行われます。
    %script{:src => "//cdn-m.makuake.com/rev_2018/10/12/143228/js/geenie/investment/common.js", :type => "text/javascript"}
    :javascript
      function get_questions() {
          var ret = [];
          i = 0;
          return ret;
      }
    %p#page-top_jq{:style => "display: none;"}
      %a{:href => "#wrap"} PAGE TOP
    %footer.footer{"data-gtm-vis-first-on-screen-657891_163" => "151789", "data-gtm-vis-has-fired-657891_163" => "1", "data-gtm-vis-recent-on-screen-657891_163" => "151789", "data-gtm-vis-total-visible-time-657891_163" => "100"}
      .footer-in
        .footer-bottom
          %div
            .footer-bottom-copy
              %small.footer-bottom-copy-txt Copyright © Makuake, Inc. All Rights Reserved.
          %div
            %ul.footer-bottom-link
              %li
                %a.footer-bottom-link-text{:href => "/pages/company/"} 運営会社
              %li
                %a.footer-bottom-link-text{:href => "/pages/term/"} 利用規約
              %li
                %a.footer-bottom-link-text{:href => "/pages/privacy/"} プライバシーポリシー
