!!!
%html{:lang => "ja"}
    %head
        %link{href: "//css.36project.com/stylesheets/modules/reset.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/commons/common.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/commons/discover_common.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/commons/discover_project.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/modules/footer.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/modules/header.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/modules/index.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/modules/pagination.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/modules/slider.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/modules/template.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/users/edit_profile.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/users/invest.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/users/leave.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/users/message.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/users/mypage.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/users/popup.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/users/sidenavi.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/users/text.css", rel: "stylesheet"}/
        %link{href: "//css.36project.com/stylesheets/project-common.css", rel: "stylesheet"}/
        %link{:href => "//cdn-m.makuake.com/rev_2018/10/16/143133/img/favicon.ico", :rel => "shortcut icon"}/
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        %meta{:content => "noindex", :name => "robots"}/
        %title Makuake_clone by 36groupe
        %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
        = csrf_meta_tags
        = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css', media: 'all', 'data-turbolinks-track': 'reload'
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js', 'data-turbolinks-track': 'reload'
        %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css", :rel => "stylesheet"}/
    %body
        %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"}
        = render 'shared/svg'
        = render partial: 'layouts/flash_message'
        = render partial: 'layouts/account_area'
        = render partial: 'shared/header'
        = yield
        = render partial: 'shared/footer'
        = render partial: 'layouts/admin'
